body {
    overflow-y: hidden;
    margin: 0;
}

.blueDiv {
    background: #006dad;
    color: white;
}

.statusBar {
    background-color: #dfe0da;
    color: rgb(0, 61, 96);
    font-size: 15pt;
    margin: 0;
    padding: 50px;
}

.package-col {
    width: 600px;
}